name: Build and Release

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  BIN_NAME: learning1

permissions:
  contents: write

jobs:
  build:
    name: Build - ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: Windows
            os: windows-latest
            target: x86_64-pc-windows-msvc
            extension: .exe
          - name: Linux
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            extension: ""
          - name: MacOS
            os: macos-latest
            target: aarch64-apple-darwin
            extension: ""

    steps:
    - uses: actions/checkout@v4

    - name: Install Linux Dependencies
      if: matrix.platform.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y libx11-dev libasound2-dev libudev-dev libwayland-dev libxkbcommon-dev

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: ${{ matrix.platform.target }}

    - name: Build
      run: cargo build --release --target ${{ matrix.platform.target }}

    - name: Rename Binary
      shell: bash
      run: |
        cp target/${{ matrix.platform.target }}/release/${{ env.BIN_NAME }}${{ matrix.platform.extension }} rust-tetris-${{ matrix.platform.name }}${{ matrix.platform.extension }}

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: rust-tetris-${{ matrix.platform.name }}
        path: rust-tetris-${{ matrix.platform.name }}${{ matrix.platform.extension }}

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: rust-tetris-${{ matrix.platform.name }}${{ matrix.platform.extension }}
